---
Checks: '*,
         -llvm-header-guard,
         -llvmlibc-restrict-system-libc-headers,
         -cert-dcl37-c,
         -cert-dcl51-cpp,
         -hicpp-signed-bitwise,
         -google-readability-braces-around-statements,
         -hicpp-braces-around-statements,
         -readability-braces-around-statements,
         -cppcoreguidelines-init-variables,
         -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
         -cppcoreguidelines-init-variables,
         -concurrency-mt-unsafe,
         -readability-identifier-length,
         -altera-unroll-loops,
         -altera-id-dependent-backward-branch,
         -altera-struct-pack-align,
         -cppcoreguidelines-avoid-magic-numbers,
         -readability-magic-numbers,
         -modernize-macro-to-enum,
         -cppcoreguidelines-avoid-non-const-global-variables,
         -readability-isolate-declaration,
         -readability-function-cognitive-complexity,
         -bugprone-assignment-in-if-condition,
         -bugprone-easily-swappable-parameters'
