#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all
export DEB_CFLAGS_MAINT_APPEND = -flto
export DEB_LDFLAGS_MAINT_APPEND = -flto

%:
	dh $@


override_dh_installsystemd:
	dh_installsystemd --name=arpobserverd
	dh_installsystemd --name=arpobserver-checkd
