#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all optimize=+lto

%:
	dh $@


override_dh_installsystemd:
	dh_installsystemd --name=arpobserverd
	dh_installsystemd --name=arpobserver-checkd
